<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="EngineeringRelease" value="https://pkgs.dev.azure.com/Advantech-EBO/_packaging/EngineeringRelease/nuget/v3/index.json" />
    <add key="LocalTempSource" value="/app/TestToolProcess/local_nuget_source" />
  </packageSources>
</configuration>